.library_article {
	width: 23%;
	font-size: 16px;
	float: left;
	height: 410px;

}

.library_article .details h2 {
	font-size: 16px;
}



.image {
	display: block;
	height: 200px;
} 

.details {
	padding: 10px;
/*	position: relative;*/
}

.details h2, .details p {
	line-height: 1.3;
	color: black;
}

.source {
	display: block;
	float: right;
}

.library_article {
	border: 1px solid #D8D8D8;
	border-radius: 3px;
	margin: 10px;
	position: relative;
}

.library_article_bottom {
	color: #A0A0A0;
	position: absolute;
	bottom: 5px;
	left: 10px;
	right: 10px;
 
/*take a look */
}


#library_article_1 {
	background-image: url(http://www.inc.com/uploaded_files/image/970x450/getty_526298515_9706479704500187_66536.jpg);
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
}

#library_article_2 {
	background-image: url(http://img.youtube.com/vi/D58LpHBnvsI/0.jpg);
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
}

#library_article_3 {
	background-image: url(http://www.inc.com/uploaded_files/image/970x450/getty_470621989_67850.jpg);
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
}

#library_article_4 {
	background-image: url(http://www.inc.com/uploaded_files/image/970x450/getty_461555409_970668970450091_67847.jpg);
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
}

#library_article_5 {
	background-image: url(http://www.inc.com/uploaded_files/image/970x450/Tower-Board-Meeting-web_67887.jpg);
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
}


#library_article_6 {
	background-image: url(http://www.inc.com/uploaded_files/image/970x450/getty_456953480_2000128720009280104_67993.jpg);
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
}

#library_article_7 {
	background-image: url(http://www.inc.com/uploaded_files/image/970x450/getty_180955660_67987.jpg);
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
}


#library_article_8 {
	background-image: url(https://assets.entrepreneur.com/content/3x2/822/20150805145640-shara-senderoff-career-sushi.jpeg);
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
}

#library_article_9 {
	background-image: url(https://assets.entrepreneur.com/content/3x2/822/20150514143206-attention-content-marketers-write-amazing-headline-laptop-computer-screen-writing.jpeg);
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
}

#library_article_10 {
	background-image: url(https://assets.entrepreneur.com/content/3x2/822/20150929181649-foggy-road-asphalt.jpeg);
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
}

#library_article_11 {
	background-image: url(https://assets.entrepreneur.com/content/3x2/822/20150825160807-light-bulb-idea-inspiration.jpeg);
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
}

#library_article_12 {
	background-image: url(https://assets.entrepreneur.com/content/3x2/822/20150316052356-shutterstock-232609255.jpeg);
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
}